//============main color themes===============
$primary-color-light:#f29248;
$primary-color-dark: #ff7f50;
$secondary-color-light:#12bdbd;
$secondary-color-dark:#008080;
$tertiary-color-light:#ffd60a;
$tertiary-color-dark:#ffc300;
$color-gray-light:#4a494a;
$color-gray-dark:#272729;
$black-color:#000;
$white-color:#fff;
$white-color-a:#eeee;

//===========grid-test=============
$grid-width:114rem;
$gutter-vertical:4rem;
$gutter-horizontal:5rem;

/* max-width:*/
$max-width:114rem;

