@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');




*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;  
}